%p.alert-message
  %strong Welcome!
  Follow the steps below to import your bookmarks:

%div.well
  %h2 1) Authenticate with gimmebar:
  %form.form-stacked
    %div.actions
      %a{:href => "/gimmebar/auth", :class => "btn large success"} Sign in

%div.well  
  %h2 2) Load your delicious bookmarks:
  
  %div.alert-message.block-message.success{:style => "margin-top:12px;"}
    %p Don't know how to backup your delicious bookmarks?
    %a{:href => "http://lifehacker.com/5136845/backup-delicious-bookmarks-from-the-shell", :target => "_blank"} Backup Delicious Bookmarks from the Shell
  
  %form.form-stacked
    %fieldset
      %label Locate your XML file
      %div.field
        %input{:type => "file"}
      %div.actions
        %input{:type => "submit", :class => "btn info large", :value => "Upload!"}

%div.well
  %h2 3) Select your import settings:
  %form.form-stacked
    %div.actions
      %input{:type => "submit", :class => "btn primary large disabled", :value => "Import!"}