<!DOCTYPE html>
%html
  %head
    %title Gimmelicious
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"}
  %body
    %div.container
      %div.page-header
        %h1 
          Gimmelicious
          %small Import your delicious bookmarks to gimmebar.
      =yield