!!! 5
%html
  %head
    %title Gimmelicious
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"}
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"}
  %body
    %div.container{:style => "margin-top:30px;"}
      %div.page-header
        %h1 
          Gimmelicious
          %small Import your delicious bookmarks to gimmebar.
      =yield
      %footer{:style => "margin-top:30px;text-align:center"}
        %p
          Developed with &hearts; by
          %a{:href => "http://www.daviferreira.com"} Davi Ferreira
